*.o
*.suo
*.bin
*.aps
*.vsp
*.opensdf
*.sdf
*.psess
*.ncb
*.suo
nesemu3
nesemu3*.exe
nesemu3.log
nesemu3.cfg
stdout.txt
stderr.txt
projects/vs2015/Release*
projects/vs2015/Debug*
projects/vs2015/Profile
projects/vs2015/ipch
test/
resources/old/
box/
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/